<!-- copied and modified from flask demo files -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
        <title>Course_Search.com</title>
    </head>
    <body>        
        {% include 'header.html' %}
        <h1>Course Search Results</h1>

        <form action="search" method="get">
            Department:
            <input type="text" name="deptname" id="d">
            Course Number:
            <input type="text" name="coursenum" id="c">
            Subject:
            <input type="text" name="subjectcode" id="s">
            Title:
            <input type="text" name="title" id="t">
            <input type="submit" value="Search">
            <input type="submit" name="clear" value="Clear Previous Search">
        </form>
        <script type="text/javascript">
            document.getElementById("d").value = {{deptname|tojson}};
            document.getElementById("c").value = {{coursenum|tojson}};
            document.getElementById("s").value = {{subjectcode|tojson}};
            document.getElementById("t").value = {{title|tojson}};
        </script>
        <form action="search" method="get">
            
        </form>
        <br>
        <strong>{{error_msg}}</strong>
        <br>

        {% if courses|length == 0: %}
            
        {% else %}
            <table>
                <tr>
                    <th>CRN</th>
                    <th>Department Name</th>
                    <th>Subject Code</th>
                    <th>Course Number</th>
                    <th>Title</th>
                </tr>
                {% for course in courses: %}
                    <tr>
                        <td>
                            <form action="details" method="get">
                                <input type="submit" name="crn" value="{{course.get_crn()}}">
                            </form>
                        </td>
                        <td>{{course.get_deptname()}}</td>
                        <td>{{course.get_subjectcode()}}</td>
                        <td>{{course.get_coursenum()}}</td>
                        <td>{{course.get_title()}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <br>
        <br>
        <br>
        <br>
        {% include 'footer.html' %}
    </body>
</html>